@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Lobster+Two&family=Oleo+Script&display=swap");
* {
  padding: 0;
  font-family: "Oswald", sans-serif;
}
body {
  margin: 0;
  overflow: visible;
}
section:nth-child(2) {
  background-color: white;
}

h1 {
  text-align: center;
  font-size: 30px;
}
.product_container {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  border-top: 0.3px solid;
  gap: 2.5rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: rgb(255, 255, 255);
}
.gallery {
  width: 65%;
  padding: 20px;
  max-height: 100%;
}
.info {
  width: 35%;
  overflow: hidden;
}
.product_image img {
  max-width: 100%;
  border-radius: 20px;
}
.product_image {
  max-width: 100%;
  border-radius: 20px;
  display: block;
}
.product_info {
  max-width: 100%;
  padding: 5px 15px 15px 15px;
  background: linear-gradient(
    45deg,
    rgba(15, 52, 67, 0.1) 0%,
    rgba(52, 232, 158, 0.1)
  );
  max-height: 100%;
}
.product_price span {
  padding: 15px 15px 15px 0px;
  color: red;
  font-size: 20px;
  font-weight: 600;
  margin-right: 40px;
}
.product_color {
  display: flex;
  gap: 0.3rem;
}
h4 {
  margin-bottom: 0.5rem;
}
.product_color div:nth-of-type(1) {
  width: 3rem;
  height: 3rem;
  background-color: #5185ad;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.product_color div:nth-of-type(1):hover {
  transform: scale(1.08);
}

.product_color div:nth-of-type(2) {
  width: 3rem;
  height: 3rem;
  background-color: #a62c2b;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.product_color div:nth-of-type(2):hover {
  transform: scale(1.08);
}
.product_color div:nth-of-type(3) {
  width: 3rem;
  height: 3rem;
  background-color: #43464b;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.product_color div:nth-of-type(3):hover {
  transform: scale(1.08);
}
.product_size {
  display: flex;
  gap: 0.3rem;
}
.product_size div:nth-of-type(1) {
  width: 3rem;
  height: 3rem;
  box-shadow: 1px 1px 2px black;
  background-color: whitesmoke;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.product_size div:nth-of-type(1):hover {
  background-color: black;
  color: whitesmoke;
}

.product_size div:nth-of-type(2) {
  width: 3rem;
  height: 3rem;
  box-shadow: 1px 1px 2px black;
  background-color: whitesmoke;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.product_size div:nth-of-type(2):hover {
  background-color: black;
  color: whitesmoke;
}
.product_size div:nth-of-type(3) {
  width: 3rem;
  height: 3rem;
  box-shadow: 1px 1px 2px black;
  background-color: whitesmoke;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.product_size div:nth-of-type(3):hover {
  background-color: black;
  color: whitesmoke;
}
.product_availability h4 span {
  margin-right: rem;
}
.product_gallery {
  display: flex;
  gap: 0.3rem;
  height: auto;
  max-width: 100%;
  background-color: #43464b;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.product_gallery div {
  box-shadow: 2px 2px 4px silver;
}
.product_gallery img {
  max-width: 100%;
}
.product_basket {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.quantity {
  padding-right: 20px;
}
.quantity a {
  color: black;
  text-decoration: none;
}
.fas {
  font-size: 15px;
}
.basket {
  padding: 0.5rem;
  text-decoration: none;
  background-color: black;
  color: antiquewhite;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.basket:hover {
  transform: scale(1.05);
}
.basket a {
  text-decoration: none;
  color: aliceblue;
}
.basket span {
  padding: 5px;
}
.specification {
  max-width: 1150px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 20px;
  border-bottom: 20px;
  border-top: 0.3px solid black;
}
.specification {
  padding-top: 15px;
}

.specification_title span,
i {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.specification_list {
  padding: 15px;
}

.specification_list span {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1rem;
}
@media only screen and (max-width: 850px) {
  .product_container {
    display: block;
  }
  .info {
    width: 100%;
  }
  .product_basket {
    display: block;
  }
  .basket {
    width: 30%;
  }
}
