@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  padding: 0;
  font-family: "Oswald", sans-serif;
}
body {
  margin: 0;
}
section {
  margin: 0 auto;
  background: url(../Images/Banner/Footer2.jpg) rgba(56, 48, 48, 0.9);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}
section h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  border-bottom: 0.1px solid rgb(114, 111, 111);
  text-align: left;
  padding-left: 10rem;
}
h1 span:nth-of-type(1) {
  color: white;
  opacity: 0.6;
}
h1 span:nth-of-type(2) {
  color: #e25822;
  font-weight: 900;
}

.index_category {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  row-gap: 15px;

  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgb(255, 255, 255, 0);
}
.category_box {
  padding: 15px;
  width: 29%;
  height: 30vh;
  color: whitesmoke;
  border-radius: 20px;
  background-color: #301934;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  position: relative;
}
.dark_tone {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #28282b;
  opacity: 0;
}
.category_box:hover .dark_tone {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}
.index_category a {
  text-decoration: none;
}
.category_box:hover {
  transform: scale(1.075);
  flood-opacity: 0.5;
}
.category_box:nth-child(1) {
  background-image: url(../Images/Proizvodi/brdskibicikl.jpg);
  background-size: cover;
  opacity: 0.9;
}
.category_box:nth-child(2) {
  background-image: url(../Images/Proizvodi/roadbike.jpg);
  background-size: cover;
  opacity: 0.9;
}
.category_box:nth-child(3) {
  background-image: url(../Images/Proizvodi/gravelbike.webp);
  background-size: cover;
  opacity: 0.9;
}
.category_box:nth-child(4) {
  background-image: url(../Images/Proizvodi/childbike2.jpg);
  background-size: cover;
  opacity: 0.9;
}
.category_box:nth-child(5) {
  background-image: url(../Images/Proizvodi/ebike.jpg);
  background-size: cover;
  opacity: 0.9;
}
.category_box:nth-child(6) {
  background-image: url(../Images/Proizvodi/dijelovi.webp);
  background-size: cover;
  opacity: 0.9;
}
.category_box:nth-child(7) {
  background-image: url(../Images/Proizvodi/clothes.webp);
  background-size: cover;
  opacity: 0.9;
}
.category_box:nth-child(8) {
  background-image: url(../Images/Proizvodi/oprema.webp);
  background-size: cover;
  opacity: 0.9;
}
.category_box:nth-child(9) {
  background-image: url(../Images/Proizvodi/trainingoprema.jpg);
  background-size: cover;
  opacity: 0.9;
}

.category_box h3 {
  font-size: 30px;
  text-shadow: 0px -5px 3px black;
  opacity: 0;
  z-index: 100;
}
.category_box:hover h3 {
  opacity: 1;
  transition: 0.25s ease-in-out;
}
.category_box h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #e25822;
}

.category_box h3::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #e25822;
}
@media only screen and (max-width: 1150px) {
  .index_category {
    flex-wrap: wrap;
  }
  .category_box {
    width: 350px;
  }
}
@media only screen and (max-width: 1150px) {
}
